.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#1f2937;
    color:white;

    padding:15px 25px;
}

.user{
    background:#374151;
    padding:8px 15px;
    border-radius:5px;
}